{
    "env": {
        "browser": true,
        "es2021": true
    },
    "extends": [
        "plugin:react/recommended",
        "standard-with-typescript"
    ],
    "parserOptions": {
        "ecmaVersion": 2021,
        "sourceType": "module",
        "project": "./tsconfig.json"
    },
    "plugins": [
        "react"
    ],
    "rules": {
        "@typescript-eslint/explicit-function-return-type": "off",
        "@typescript-eslint/no-var-requires": "off",
        "@typescript-eslint/strict-boolean-expressions": "off",
        "@typescript-eslint/no-non-null-assertion": "off",
        "@typescript-eslint/consistent-type-imports": "off",
        "@typescript-eslint/no-dynamic-delete": "off",
        "@typescript-eslint/restrict-plus-operands": "off",
        "react/react-in-jsx-scope": "off",
        "react/jsx-indent": ["warn", 2],
        "@typescript-eslint/no-unused-vars": "warn",
        "semi": "off",
        "@typescript-eslint/semi": ["error", "always"]
    }
}
